* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --label-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;

}

main {
    background-color: lightblue;
    border: 1px solid white;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr;
    gap: 15px;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border: 1px solid black;
    padding: 20px;
}


.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    border: 2px solid white;
    background-color: lightgreen;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar > h2 {
    margin: 15px;
}

.sidebar > .menu {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}

.sidebar > .menu > div {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 5px;
}
.sidebar > .menu > div > label {
    text-transform: uppercase;
    font-size: var(--label-size);
}

.sidebar > .menu > div > input {
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    width: 10rem;
    padding: 2px;
}

.sidebar > .menu > button {
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
    
}

.search-area {
    border: 2px solid red;
    background-color: lightslategrey;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;


}

.output-area {
    border: 2px solid purple;
    background-color: lightsalmon;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}